![logo uai fic.png]()


**Fundamentos de ciencias de datos,   Sección 3,   2022-2.**


**Profesora:   Carolina Lagos Campos.**


**Ayudante:   Bruno Reyes Sánchez.**

## **Tópicos**

  - Intervalos de confianza y error
  - Test de hipótesis

###### **Resumen métricas estadísticas**

In [6]:
import pandas as pd
import numpy as np

In [8]:
#Puntajes PSU

df_punt = pd.DataFrame({'Nombre': ['Anita', 'Bastian', 'Carlos', 'Andrea','Ignacia'],
                 'Genero': ['M','H','H','M','M'],
                 'Edad': [17,19,17,17,20],
                 'Puntaje': [630, 450, 550, 680, 710]})
df_punt

    Nombre Genero  Edad  Puntaje
0    Anita      M    17      630
1  Bastian      H    19      450
2   Carlos      H    17      550
3   Andrea      M    17      680
4  Ignacia      M    20      710

In [9]:
# Media poblacional

Edad = df_punt['Edad']  #<== Selección de una columna en particular NUMERICA
Edad.mean() #<== Calculo de la media/promedio de la población

18.0

In [19]:
#También puede calcular el valor acumulado: (Ignorar el valor NAN)

df_punt[['Edad', 'Puntaje']].cumsum()  # <== buscar otro contexto para frecuencia acumulada

   Edad  Puntaje
0    17      630
1    36     1080
2    53     1630
3    70     2310
4    90     3020

In [20]:
#Resumen de metricas estadísticas

df_punt.describe()

            Edad     Puntaje
count   5.000000    5.000000
mean   18.000000  604.000000
std     1.414214  105.261579
min    17.000000  450.000000
25%    17.000000  550.000000
50%    17.000000  630.000000
75%    19.000000  680.000000
max    20.000000  710.000000

In [ ]:
# [INSERTAR IMAGEN DE RESUMEN DE MEDIDAS]

In [22]:
# Los métodos corr y cov del marco de datos pueden devolver una matriz completa de similitud o varianza:
display(df_punt.corr())
display(df_punt.cov())

             Edad   Puntaje
Edad     1.000000  0.016794
Puntaje  0.016794  1.000000

         Edad  Puntaje
Edad      2.0      2.5
Puntaje   2.5  11080.0

In [23]:
# Usando el método corrwith de Dataframe, podemos calcular la similitud entre diferentes columnas o filas en el marco de datos. Pasar una serie:

df_punt.corrwith(df_punt.Puntaje)

Edad       0.016794
Puntaje    1.000000
dtype: float64

### Intervalos de confianza y error

### Test de hipótesis

## Ejercicios

1.-

2.-

3.-

4.-

5.-