![logo uai fic.png]()


**Fundamentos de ciencias de datos,   Sección 3,   2022-2.**


**Profesora:   Carolina Lagos Campos.**


**Ayudante:   Bruno Reyes Sánchez.**

## **Tópicos**

 - Merge
 - Limpieza

**Resumen**

In [ ]:
"""pd.read_csv('nombre_tabla_csv.csv', encoding= ' ', sep= ' ')"""

#encoding = latin-1 , utf-8
#sep = , ; |

"pd.read_csv('nombre_tabla_csv.csv', encoding= ' ', sep= ' ')"

In [ ]:
"""pd.DataFrame(data)"""

'pd.DataFrame(data)'

In [ ]:
"""df.rename(columns = {'columna_vieja': 'columna_nueva'}, inplace = False)"""

"df.rename(columns = {'columna_vieja': 'columna_nueva'}, inplace = False)"

In [ ]:
"""df.groupby(df['columna_para_agrupar'])['columna_operar'].count()"""

# .count() => Contar caracteres 
# .sum() => Sumar numeros (enteros y decimales)
# .mean() => Promedio

"df.groupby(df['columna_para_agrupar'])['columna_operar'].count()"

In [ ]:
"""df.sort_values('columna_considerar', ascending=False)"""

#False => Mayor a menor
#True => Menor a mayor

"df.sort_values('columna_considerar', ascending=False)"

## **Merge**

Recordando la funcion ``merge`` de pandas, sirve para unir dos bases de datos(DataFrames). 

``pd.merge(df1,df2)``

donde ``df1`` y ``df2`` representan al primer y segundo dataset respectivamente.

En si ``merge`` es de forma "inteligente" de unir nuestros datos, ya que usa una columna en comun como base para unir, así cada fila queda emparejada con su par.

In [ ]:
"""df_merge = df_izq.merge(df_der, left_on="columna_similar_izquierda", right_on="columna_similar_derecha")"""

'df_merge = df_izq.merge(df_der, left_on="columna_similar_izquierda", right_on="columna_similar_derecha")'

In [1]:
#Modulos necesarios
import pandas as pd
import numpy as np

In [3]:
#Lectura de los datos
df_1=pd.read_csv("data/codigos.csv", sep=";")
df_2=pd.read_csv("data/datos_comunas.csv", sep=",")
df_3=pd.read_csv("data/presupuesto_2019.csv", sep=";")

In [5]:
#Visualizacion de los datos (DataFrames)
#df_1
df_2
#df_3

        id  metros_plaza  metros_parque  personas
0     1101       58460.0        94824.0     271.0
1     1107      130316.0            0.0      55.0
2     1401           NaN            NaN       NaN
3     1402        4050.0            0.0       8.0
4     1403        2532.0            NaN       NaN
..     ...           ...            ...       ...
340  16301      168800.0        82226.0      19.0
341  16302       21282.0            0.0      62.0
342  16303       21925.0            0.0      22.0
343  16304        9500.0            0.0      26.0
344  16305       36300.0         4180.0      33.0

[345 rows x 4 columns]

In [ ]:
df_2

        id  metros_plaza  metros_parque  personas
0     1101       58460.0        94824.0     271.0
1     1107      130316.0            0.0      55.0
2     1401           NaN            NaN       NaN
3     1402        4050.0            0.0       8.0
4     1403        2532.0            NaN       NaN
..     ...           ...            ...       ...
340  16301      168800.0        82226.0      19.0
341  16302       21282.0            0.0      62.0
342  16303       21925.0            0.0      22.0
343  16304        9500.0            0.0      26.0
344  16305       36300.0         4180.0      33.0

[345 rows x 4 columns]

In [ ]:
df_3

     CODIGO      MUNICIPIO PRESUPUESTO
0      1101        IQUIQUE    59072234
1      1107  ALTO HOSPICIO    13984411
2      1401   POZO ALMONTE     7613962
3      1402         CAMIÑA     1584008
4      1403       COLCHANE     2500000
..      ...            ...         ...
340   16301     SAN CARLOS    10459691
341   16302       COIHUECO     5001190
342   16303         ÑIQUÉN     3386698
343   16304     SAN FABIÁN     1798500
344   16305    SAN NICOLÁS     3979700

[345 rows x 3 columns]

In [6]:
#Una los datos mediante un merge
df_merge = df_1.merge(df_2, left_on="Código Comuna 2018", right_on="id")
df_merge

,Código Región,Nombre Región,Abreviatura Región,Código Provincia,Nombre Provincia,Código Comuna 2018,Nombre Comuna,id,metros_plaza,metros_parque,personas
0,1,Tarapacá,TPCA,11,Iquique,1101,Iquique,1101,58460.0,94824.0,271.0
1,1,Tarapacá,TPCA,11,Iquique,1107,Alto Hospicio,1107,130316.0,0.0,55.0
2,1,Tarapacá,TPCA,14,Tamarugal,1401,Pozo Almonte,1401,NaN,NaN,NaN
3,1,Tarapacá,TPCA,14,Tamarugal,1402,Camiña,1402,4050.0,0.0,8.0
4,1,Tarapacá,TPCA,14,Tamarugal,1403,Colchane,1403,2532.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340,16,Ñuble,NUBLE,163,Punilla,16301,San Carlos,16301,168800.0,82226.0,19.0
341,16,Ñuble,NUBLE,163,Punilla,16302,Coihueco,16302,21282.0,0.0,62.0
342,16,Ñuble,NUBLE,163,Punilla,16303,Ñiquén,16303,21925.0,0.0,22.0
343,16,Ñuble,NUBLE,163,Punilla,16304,San Fabián,16304,9500.0,0.0,26.0
344,16,Ñuble,NUBLE,163,Punilla,16305,San Nicolás,16305,36300.0,4180.0,33.0

## Limpieza de datos

**Sin la limpieza, es probable que los resultados de los análisis estén distorsionados.**

In [7]:
#Verificamos la excistencia de datos nulos

print(df_merge.isnull().sum()) # .isnull() verifica la existencia de algún dato nulo.

Código Región          0
Nombre Región          0
Abreviatura Región     0
Código Provincia       0
Nombre Provincia       0
Código Comuna 2018     0
Nombre Comuna          0
id                     0
metros_plaza          19
metros_parque         27
personas              26
dtype: int64

In [8]:
#Para limpiar los datos 

df_merge = df_merge.dropna() #Con .dropna() limpiamos los datos nulos, pero como no hay en este caso no será necesario implementarlo.
df_merge

,Código Región,Nombre Región,Abreviatura Región,Código Provincia,Nombre Provincia,Código Comuna 2018,Nombre Comuna,id,metros_plaza,metros_parque,personas
0,1,Tarapacá,TPCA,11,Iquique,1101,Iquique,1101,58460.0,94824.0,271.0
1,1,Tarapacá,TPCA,11,Iquique,1107,Alto Hospicio,1107,130316.0,0.0,55.0
3,1,Tarapacá,TPCA,14,Tamarugal,1402,Camiña,1402,4050.0,0.0,8.0
5,1,Tarapacá,TPCA,14,Tamarugal,1404,Huara,1404,2300.0,0.0,17.0
6,1,Tarapacá,TPCA,14,Tamarugal,1405,Pica,1405,12925.0,20749.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...
340,16,Ñuble,NUBLE,163,Punilla,16301,San Carlos,16301,168800.0,82226.0,19.0
341,16,Ñuble,NUBLE,163,Punilla,16302,Coihueco,16302,21282.0,0.0,62.0
342,16,Ñuble,NUBLE,163,Punilla,16303,Ñiquén,16303,21925.0,0.0,22.0
343,16,Ñuble,NUBLE,163,Punilla,16304,San Fabián,16304,9500.0,0.0,26.0
344,16,Ñuble,NUBLE,163,Punilla,16305,San Nicolás,16305,36300.0,4180.0,33.0

In [9]:
#Verificamos la excistencia de datos duplicados

print(df_merge.loc[df_merge.duplicated()].count()) # .duplicated() verifica la existencia de algún dato duplicado.

Código Región         0
Nombre Región         0
Abreviatura Región    0
Código Provincia      0
Nombre Provincia      0
Código Comuna 2018    0
Nombre Comuna         0
id                    0
metros_plaza          0
metros_parque         0
personas              0
dtype: int64

In [10]:
#Limpieza de datos duplicados

"""df_merge.drop_duplicates(inplace=True)""" #De esta forma se limpiarian los datos duplicados, pero como no hay en este caso no sera necesario.

'df_merge.drop_duplicates(inplace=True)'

## Ejercicios

1.- A base del DataFrame hecho, extraiga la columna "MUNICIPIO" y	"PRESUPUESTO".

2.- Analice si los datos estan bien.

3.-Identifique los 5 municipios con mayor presupuesto.

4.-Agrupe por region y calcule el promedio por cada provincia.

5.- Una el dataframe de datos_comunas a la izquierda del merge original (si es necesario limpiar los datos y verificar como estan los mismos, hagalo).